.red {
	background: #F33
}

.green {
	background: #3F3
}

img {
	min-width: 300px;
	max-height: 300px;
}

body {
	text-align: center;
	background-color: #FAE7B1;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.invis {
	display: none;
}

.trtext {
	text-align: left;
	max-width: 300px;
}